@charset "UTF-8";

:root{
   --theadback: black;
   --theadfont: white;
   --freeareaback: black;
   --freeareafont: white;
   --generalinfoback: #262626;
   --generalinfofont: white;
   --infovalue1back: white;
   --infovalue1font: black;
   --infovalue2back: #ffc7ce;
   --infovalue2font: #9c0006;
   --infovalue3back: white;
   --infovalue3font: black; 
   --deliveryback: #0d0d0d;
   --deliveryfont: white;
   --partsback: black;
   --partsfont: white;
   --bordercolor: white;
}

*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif; 
}

header{
   background-color: rgb(15, 15, 15);
   background-image: url(../images/coding_banner-420-blur.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: left bottom;

   height: 21.66vh;
   text-align: center;

   box-shadow: 20px 20px 15px 10px inset rgba(0, 0, 0, 0.329);
}

div#table1{
   overflow-x: auto;
}

table{
   width: 579px;
   border-collapse: collapse;
   text-align: center;
}

table, tr, td{
   font-family: 'Times New Roman', Times, serif;
   font-size: 9px;
   height: 14px;
   border-color: var(--bordercolor);
   border-width: 1px;
   border-style: solid;
}

.infocol{
   width: 100px;
   height: 23px;
}

.freecol{
   width: 30px;
   height: 23px;
}

.partscol{
   width: 240px;
   height: 23px;
}

.deliverycol{
   width: 80px;
   height: 23px;
}

.leftalign{
   text-align: left;
   padding-left: 3px;
}

thead{
   position: sticky;
   top: 0px;
   background-color: var(--theadback);
   color: var(--theadfont);
   font-weight: bold;
}

.freearea{
   background-color: var(--freeareaback);
   color: var(--freeareafont);
}

.generalinfo{
   background-color: var(--generalinfoback);
   color: var(--generalinfofont);
}

#iinfovalue1{
   background-color: var(--infovalue1back);
   color: var(--infovalue1font);
}

#iinfovalue2{
   background-color: var(--infovalue2back);
   color: var(--infovalue2font);
}

#iinfovalue3{
   background-color: var(--infovalue3back);
   color: var(--infovalue3font);
}

.delivery{
   background-color: var(--deliveryback);
   color: var(--deliveryfont);
}

.parts{
   background-color: var(--partsback);
   color: var(--partsfont);
}

section#iframes{
   width: 96vw;
   height: 50vh;
}

/*iframe#iframe1{
   width: 95vw;
   height: 50vh;
}*/